<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvsijian8.flowerpot"
    android:versionCode="2"
    android:versionName="2.3.8" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.lvsijian8.flowerpot.global.GoglePlayApplication"
        android:allowBackup="false"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/garden_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.PilotActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.MainActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.SignUpFirst" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.FirstPicture" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.LoginActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.ContainActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.RemoteActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.AppendActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.DetailActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.SearchActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.PlantActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.FeedbackActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.AboutActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.GuideActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.HistoryActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.http.TestActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.IntroductionActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.BatchActivity" >
        </activity>
        <activity
            android:name="com.lvsijian8.flowerpot.ui.activity.AlertActivity"
            android:theme="@style/AlertStyle" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.SchoolActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.SchoolDetailActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.ForgetPwdActivity" >
        </activity>
        <activity android:name="com.lvsijian8.flowerpot.ui.activity.SectionActivity" >
        </activity>
        //------------------------------------------------------------------------------------------
        <service android:name="com.lvsijian8.flowerpot.service.RemoterService"/>
    </application>

</manifest>
